.downloadMessage{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f44336;
    height: 60px;
    padding: 0px, 50px;
    margin: 100% 0, 100%, 0;
    color: white;
    box-shadow: 0, 2px, 5px, 0 rgba(0, 0, 0, 0.16), 0, 2px, 10px,;
}
.downloadText{
    flex: 1;
}

@media (max-width:995px) {
    .downloadMessage{
        display: none;
    }
}